<section id="contact" class="md:w-10/12 lg:w-8/12 min-h-screen">
    <h2 class="text-4xl font-bold mt-12 mb-4 underline decoration-blue">Contact</h2>
    <p class="text-xl mt-12 mb-6">Let's start a conversation</p>
    <form id="contactForm" class="space-y-4">
        <div>
            <label for="fullName" class="block text-sm font-medium">Full Name</label>
            <input type="text" id="fullName" name="fullName"
                class="mt-1 block w-full px-3 py-2 border-2 rounded-md bg-[#dee3e0] focus:bg-white focus:border-white focus:ring-white dark:bg-[#ffffff14] dark:focus:bg-gray-dark dark:focus:border-gray-dark dark:focus:ring-gray-dark">
            <p id="fullNameError" class="text-error text-md font-bold mt-2 hidden">Full name is required</p>
        </div>
        <div>
            <label for="email" class="block text-sm font-medium">Email</label>
            <input type="text" id="email" name="email"
                class="mt-1 block w-full px-3 py-2 rounded-md border-2 bg-[#dee3e0] focus:bg-white focus:border-white focus:ring-white dark:bg-[#ffffff14] dark:focus:bg-gray-dark dark:focus:border-gray-dark dark:focus:ring-gray-dark">
            <p id="emailError" class="text-error text-md font-bold mt-2 hidden">Valid email is required</p>
        </div>
        <div>
            <label for="message" class="block text-sm font-medium">Message</label>
            <textarea id="message" name="message" rows="4"
                class="mt-1 block w-full px-3 py-2 border-2 rounded-md bg-[#dee3e0] focus:bg-white focus:border-white focus:ring-white dark:bg-[#ffffff14] dark:focus:bg-gray-dark dark:focus:border-gray-dark dark:focus:ring-gray-dark"></textarea>
            <p id="messageError" class="text-error text-md font-bold mt-2 hidden">Message is required</p>
        </div>
        <div>
            <button type="submit" id="submitButton"
                class="w-full bg-gray-dark text-gray-light dark:bg-gray-light dark:text-gray-dark py-2 px-4 rounded-md hover:scale-105 transition duration-300 flex items-center justify-center">
                Submit
            </button>
        </div>
        <div id="successMessage" class="hidden text-success text-xl font-bold animate-bounce">
            Message sent successfully!
        </div>
    </form>

    <script>
        const removePreviousState = () => {
            ['fullName', 'email', 'message'].forEach(field => {
                const input = document.getElementById(field);
                const errorElement = document.getElementById(`${field}Error`);
                input.classList.remove('border-error', 'border-success');
                errorElement.classList.add('hidden');
            });
        };

        document.getElementById('contactForm').addEventListener('submit', async function (event) {
            event.preventDefault();

            const form = this;
            const formElements = Array.from(form.elements);
            const submitButton = form.querySelector('button[type="submit"]');

            // Disable inputs and show spinner
            formElements.forEach(el => el.disabled = true);
            submitButton.innerHTML = `
                <span class="inline-block w-6 h-6 border-2 border-t-transparent border-gray-light dark:border-gray-dark rounded-full animate-spin"></span>
            `;

            removePreviousState();

            let isValid = true;

            // Full Name Validation
            const fullName = document.getElementById('fullName');
            const fullNameError = document.getElementById('fullNameError');
            if (!fullName.value.trim()) {
                fullName.classList.add('animate-shake', 'border-error');
                fullNameError.classList.remove('hidden');
                isValid = false;

                setTimeout(() => fullName.classList.remove('animate-shake'), 500);
            } else {
                fullName.classList.add('border-success');
            }

            // Email Validation
            const email = document.getElementById('email');
            const emailError = document.getElementById('emailError');
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!email.value.trim() || !emailRegex.test(email.value)) {
                email.classList.add('animate-shake', 'border-error');
                emailError.classList.remove('hidden');
                isValid = false;

                setTimeout(() => email.classList.remove('animate-shake'), 500);
            } else {
                email.classList.add('border-success');
            }

            // Message Validation
            const message = document.getElementById('message');
            const messageError = document.getElementById('messageError');
            if (!message.value.trim()) {
                message.classList.add('animate-shake', 'border-error');
                messageError.classList.remove('hidden');
                isValid = false;

                setTimeout(() => message.classList.remove('animate-shake'), 500);
            } else {
                message.classList.add('border-success');
            }

            // If all validations pass
            if (isValid) {
                const successMessage = document.getElementById('successMessage');

                try {
                    const postData = {
                        fullName: fullName.value,
                        email: email.value,
                        message: message.value
                    };

                    console.log(postData);

                    const response = await fetch('https://4h5whl3oxgkeghxqnuccavtlvu0ftupa.lambda-url.eu-north-1.on.aws/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(postData)
                    });

                    console.log(response);

                    if (response.ok) {
                        // If the API call was successful, show the success message
                        successMessage.classList.remove('hidden');
                        document.getElementById('contactForm').reset(); // Reset form fields

                        // Optionally, remove any previous state (e.g., error messages or form validation state)
                        removePreviousState();

                        // Hide the success message after 5 seconds
                        setTimeout(() => {
                            successMessage.classList.add('hidden');
                        }, 5000);
                    } else {
                        // Handle any errors from the API call
                        throw new Error('Failed to submit the form');
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('There was an error submitting the form. Please try again.');
                }
            }

            // Re-enable inputs and reset button text
            formElements.forEach(el => el.disabled = false);
            submitButton.innerHTML = 'Submit';
        });
    </script>
</section>