<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body class="relative bg-[#96a095] dark:bg-gray-dark font-mono overflow-auto scrollbar-hide scroll-smooth">
  {{ block "back-ground" . }}
  {{ partial "background.html" . }}
  {{ end }}

  <section id="content" class="relative z-100 px-4 md:w-10/12 m-auto text-gray-dark dark:text-gray-light min-h-screen">
    <header>
      {{ partial "header.html" . }}
    </header>
    <main>

      {{ block "main" . }}{{ end }}
    </main>
    <footer>
    </footer>
    {{ partial "footer.html" . }}
  </section>
  {{ partial "body.html" .}}
  <script>
    var toggleflag = 0;
    var overlay = document.getElementById("overlay-dropdown");
    var toggler = document.getElementById("navbar-toggler");
    var line1 = document.getElementById("line1");
    var line2 = document.getElementById("line2");
    var line3 = document.getElementById("line3");

    function mobilenav() {
      if (toggleflag == 0) {
        overlay.classList.remove("hidden");
        overlay.classList.add("flex");
        document.body.classList.add("overflow-hidden");

        // Animate menu icon
        line1.style.transform = "rotate(50deg) translate(5px, 5px)";
        line2.style.opacity = "0";
        line3.style.transform = "rotate(-50deg) translate(5px, -5px)";

        toggleflag = 1;
      } else {
        overlay.classList.remove("flex");
        overlay.classList.add("hidden");
        document.body.classList.remove("overflow-hidden");
        // Reset menu icon
        line1.style.transform = "rotate(0deg) translate(0, 0)";
        line2.style.opacity = "1";
        line3.style.transform = "rotate(0deg) translate(0, 0)";

        toggleflag = 0;
      }
    }
  </script>
</body>

</html>